.list:where(.astro-3HLQMLNL) {
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex
}

.element:where(.astro-3HLQMLNL) {
    max-width: 320px;
    width: 320px;
    margin-bottom: 16px;
    margin-left: 32px
}

.we_are:where(.astro-3HLQMLNL) {
    margin-top: .75rem
}

main:where(.astro-3HLQMLNL) {
    --font-size-title: var(--font-fluid-xl);
    --font-size-header: var(--font-fluid-lg)
}

@media only screen and (min-width: 768px) {
    main:where(.astro-3HLQMLNL) {
        --font-size-title:var(--font-fluid-xxxl);
        --font-size-header: var(--font-fluid-lg)
    }
}

h1:where(.astro-3HLQMLNL) {
    font-size: var(--font-size-title)
}

h2:where(.astro-3HLQMLNL) {
    font-size: var(--font-size-header);
    margin-top: 0;
    margin-bottom: 30px
}

section:where(.astro-3HLQMLNL) {
    padding-top: 75px;
    padding-bottom: 75px
}

section:where(.astro-3HLQMLNL) .wrap:where(.astro-3HLQMLNL) {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px
}

section:where(.astro-3HLQMLNL) .board-image:where(.astro-3HLQMLNL) {
    height: auto;
    max-width: 95%;
    padding-top: 2rem
}

section:where(.astro-3HLQMLNL) .board-button:where(.astro-3HLQMLNL) {
    color: #eee;
    background-color: #222;
    margin: 3rem 0;
    font-size: 1rem
}

section:where(.astro-3HLQMLNL) li:where(.astro-3HLQMLNL),section:where(.astro-3HLQMLNL) p:where(.astro-3HLQMLNL) {
    font-size: var(--font-fluid-lg);
    line-height: 1.3
}

section:where(.astro-3HLQMLNL) li:where(.astro-3HLQMLNL) a:where(.astro-3HLQMLNL),section:where(.astro-3HLQMLNL) p:where(.astro-3HLQMLNL) a:where(.astro-3HLQMLNL) {
    text-decoration: underline
}

@media only screen and (min-width: 768px) {
    section:where(.astro-3HLQMLNL) {
        padding-top:175px;
        padding-bottom: 175px
    }

    section:where(.astro-3HLQMLNL) .wrap:where(.astro-3HLQMLNL) {
        padding-left: 90px;
        padding-right: 90px
    }

    section:where(.astro-3HLQMLNL) .flex:where(.astro-3HLQMLNL) {
        justify-content: space-between;
        align-items: center;
        display: flex
    }

    section:where(.astro-3HLQMLNL) .board-image:where(.astro-3HLQMLNL) {
        height: auto;
        max-width: 500px;
        width: 30vw
    }

    section:where(.astro-3HLQMLNL) .board-button:where(.astro-3HLQMLNL) {
        color: #eee;
        background-color: #222;
        margin: 3rem 0
    }
}

section:where(.astro-3HLQMLNL).hero {
    box-sizing: border-box;
    height: calc(100vh - 82px);
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 32px;
    display: flex
}

section:where(.astro-3HLQMLNL).hero .text:where(.astro-3HLQMLNL) {
    flex: 1;
    place-items: center;
    display: grid
}

section:where(.astro-3HLQMLNL).hero #scrolldown:where(.astro-3HLQMLNL) {
    margin-bottom: 20px;
    padding-bottom: 40px;
    transition: opacity .2s ease-in;
    position: relative
}

section:where(.astro-3HLQMLNL).hero #scrolldown:where(.astro-3HLQMLNL) #arrow:where(.astro-3HLQMLNL) {
    box-sizing: border-box;
    margin-left: -12px;
    font-family: Heading;
    font-size: 50px;
    animation: 1.5s infinite anim-arrow;
    position: absolute;
    top: 24px;
    left: 50%
}

@keyframes anim-arrow {
    0% {
        opacity: 0;
        transform: rotate(85deg)translate(-20px)
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: rotate(85deg)
    }
}

.touch:where(.astro-3HLQMLNL) {
    height: 24px;
    margin-left: 16px
}

.products:where(.astro-3HLQMLNL) {
    margin-top: 50px;
    margin-left: -16px;
    margin-right: -16px
}

.products:where(.astro-3HLQMLNL) p:where(.astro-3HLQMLNL) {
    font-size: var(--font-fluid-base);
    margin-bottom: .7rem;
    line-height: 1.5
}

@media only screen and (min-width: 600px) {
    .products:where(.astro-3HLQMLNL) {
        margin-left:0;
        margin-right: 0
    }
}

.products:where(.astro-3HLQMLNL) .product-grid:where(.astro-3HLQMLNL) {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,1fr);
    display: grid
}

@media only screen and (min-width: 576px) {
    .products:where(.astro-3HLQMLNL) .product-grid:where(.astro-3HLQMLNL) {
        grid-gap:2rem;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr))
    }
}

.products:where(.astro-3HLQMLNL) .product-grid-row:where(.astro-3HLQMLNL) {
    grid-gap: 1rem
}

@media only screen and (min-width: 576px) {
    .products:where(.astro-3HLQMLNL) .product-grid-row:where(.astro-3HLQMLNL) {
        grid-gap:2rem
    }
}

.products:where(.astro-3HLQMLNL) .product-grid-row:where(.astro-3HLQMLNL) {
    grid-gap: 16px;
    grid-template-rows: repeat(auto-fit,1fr);
    display: grid
}

@media only screen and (min-width: 576px) {
    .products:where(.astro-3HLQMLNL) .product-grid-row:where(.astro-3HLQMLNL) {
        grid-gap:32px
    }
}

.sidebyside:where(.astro-3HLQMLNL) {
    flex-direction: column;
    display: flex
}

.sidebyside:where(.astro-3HLQMLNL) .text:where(.astro-3HLQMLNL) {
    flex: 1;
    margin-bottom: 50px;
    margin-right: 0
}

@media only screen and (min-width: 1024px) {
    .sidebyside:where(.astro-3HLQMLNL) {
        flex-direction:row
    }

    .sidebyside:where(.astro-3HLQMLNL) .illustration:where(.astro-3HLQMLNL) {
        margin-left: 50px
    }
}

.social:where(.astro-3HLQMLNL) {
    justify-content: center;
    display: flex
}

.social:where(.astro-3HLQMLNL) .card:where(.astro-3HLQMLNL) {
    border-radius: 5px;
    margin: 44px 16px;
    padding: 32px;
    display: inline-block
}

.social:where(.astro-3HLQMLNL) .card:where(.astro-3HLQMLNL) img:where(.astro-3HLQMLNL) {
    display: block
}

.social:where(.astro-3HLQMLNL) .card:where(.astro-3HLQMLNL).twitter {
    background: #1da1f2
}

.social:where(.astro-3HLQMLNL) .card:where(.astro-3HLQMLNL).discord {
    background: #5865f2
}

@media only screen and (min-width: 768px) {
    .social:where(.astro-3HLQMLNL) {
        justify-content:center;
        display: flex
    }

    .social:where(.astro-3HLQMLNL) .card:where(.astro-3HLQMLNL) {
        margin: 64px 32px;
        padding: 48px
    }
}

.stripe-climate:where(.astro-3HLQMLNL) {
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    display: flex
}

.product:where(.astro-LCRUTWBM) {
    min-width: 0;
    border-radius: .5rem;
    justify-content: space-between;
    gap: 2rem;
    padding: 24px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    display: flex;
    box-shadow: 0 1px 1px #0003
}

.product:where(.astro-LCRUTWBM) .product-header:where(.astro-LCRUTWBM) {
    align-items: center;
    margin-bottom: 28px;
    display: flex
}

.product:where(.astro-LCRUTWBM) img:where(.astro-LCRUTWBM).product-logo {
    height: 35px
}

.product:where(.astro-LCRUTWBM) img:where(.astro-LCRUTWBM).product-icon {
    height: 35px;
    width: 35px;
    background-color: #000;
    border-radius: 6px;
    padding: 10px
}

.product:where(.astro-LCRUTWBM) img:where(.astro-LCRUTWBM).no-padding-product-icon {
    height: 55px;
    width: 55px;
    background-color: #000;
    border-radius: 6px
}

.product:where(.astro-LCRUTWBM) h3:where(.astro-LCRUTWBM) {
    background: 0 0;
    margin-left: 12px;
    font-family: Text;
    display: inline
}

.product:where(.astro-LCRUTWBM):hover {
    text-decoration: none;
    transform: scale(1.01);
    box-shadow: 0 3px 5px #00000080
}

.text-container:where(.astro-LCRUTWBM) {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    display: flex
}

.desc:where(.astro-LCRUTWBM) {
    flex: 1;
    margin-right: 20px;
    line-height: 36px
}

@media only screen and (min-width: 500px) {
    .product:where(.astro-LCRUTWBM) {
        padding:50px
    }

    h3:where(.astro-LCRUTWBM) {
        font-family: Text
    }
}

img:where(.astro-LCRUTWBM).product-image {
    height: auto;
    width: 40%;
    margin: auto
}

@media only screen and (max-width: 1200px) {
    img:where(.astro-LCRUTWBM).product-image {
        display:none
    }
}

@media only screen and (min-width: 768px) {
    .team-container:where(.astro-S6STYFWC) {
        scrollbar-width:none;
        padding: 50px 32px;
        overflow: auto hidden
    }

    .team-container:where(.astro-S6STYFWC)::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }

    .founders:where(.astro-S6STYFWC) {
        max-width: 1024px;
        min-width: 768px;
        justify-content: center;
        margin: 0 auto;
        display: flex
    }

    .founder:where(.astro-S6STYFWC) {
        flex: 0 0 23.3333%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%
    }

    .team:where(.astro-S6STYFWC) {
        max-width: 1024px;
        min-width: 768px;
        margin: 0 auto;
        display: flex
    }

    .teammate:where(.astro-S6STYFWC) {
        flex: 0 0 21%!important;
        margin-top: 4%!important;
        margin-left: 2%!important;
        margin-right: 2%!important
    }

    .teammate-label:where(.astro-S6STYFWC) {
        text-align: center;
        margin-top: 8px;
        font-family: Heading;
        font-size: 24px;
        display: block
    }
}

.team-container:where(.astro-S6STYFWC) {
    scrollbar-width: none;
    position: relative;
    overflow: auto hidden
}

.team-container:where(.astro-S6STYFWC)::-webkit-scrollbar {
    width: 0;
    background: 0 0
}

.founder:where(.astro-S6STYFWC),.teammate:where(.astro-S6STYFWC) {
    flex: 0 0 20%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%
}

.founders:where(.astro-S6STYFWC),.team:where(.astro-S6STYFWC) {
    max-width: 1024px;
    min-width: 768px;
    flex-wrap: wrap;
    display: flex
}

.teammate-image:where(.astro-S6STYFWC) {
    height: auto;
    width: 100%
}

.teammate-label:where(.astro-S6STYFWC) {
    text-align: center;
    margin-top: 8px;
    font-family: Heading;
    font-size: 24px;
    display: block
}

.networks:where(.astro-YFVRPAJA) {
    flex-direction: column;
    display: flex
}

.card:where(.astro-FW4HBARI) {
    box-sizing: border-box;
    height: 190px;
    max-width: 380px;
    min-width: 200px;
    width: auto;
    border-radius: 8px;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 32px;
    transition: all .1s ease-in-out;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 1px #0003
}

@media only screen and (min-width: 576px) {
    .card:where(.astro-FW4HBARI) {
        min-width:380px
    }
}

.card:where(.astro-FW4HBARI):hover {
    transform: scale(1.01);
    box-shadow: 0 3px 5px #00000080
}

a:where(.astro-FW4HBARI):hover {
    text-decoration: none
}

.desc:where(.astro-FW4HBARI) {
    flex: 1;
    font-size: 20px
}

.desc:where(.astro-FW4HBARI),p:where(.astro-FW4HBARI) {
    color: #fff
}

img:where(.astro-FW4HBARI) {
    opacity: .2;
    position: absolute;
    bottom: -5%;
    right: 5%;
    transform: rotate(-15deg)
}
