@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
a,
button,
input {
  outline: 0 none;
  border: 0;
  text-decoration: none;
}

img {
  border: 0 none;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

html,
body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

img, video {
  max-width: 100%;
  height: auto;
  border: 0 none;
  vertical-align: bottom;
}

::selection {
  background: var(--brand-color);
  color: #fff;
}

// :root {
//   --font-family-base: "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//   --font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
//   --link-font-color-dark: rgba(255, 255, 255, 0.87); 
  
//   --header-bg-light: #fff; 
//   --line-light: rgba(60, 60, 67, .12);
//   --text-font-color-light: rgba(60, 60, 67, .92);

//   --brand-color: #646cff;

//   --brand-color-light: #bcc0ff; // hover color
  
//   --mute-light: #f6f6f7; // tag background
  
//   // prefers-color-scheme 适配自定义
//   // color-scheme 适配原生样式，表单控件、滚动条和 CSS 系统颜色
//   // 没有必然联系
//   color-scheme: light dark; 
// }